.bg-tspu {
    background-color: #105670 !important;
    color: #fff !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link {
    position: relative;
}

.navbar-dark .navbar-nav .nav-link {
    margin-right: 15px;
}

.navbar .badge {
    top: 0;
    position: absolute;
    right: -5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.file-row {
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 1em;
    /*min-height: 100px;*/
    padding-bottom: 15px;
    padding-top: 15px;
}

.fa-custom {
    font-size: 46px;
}

.fa-file-pdf-o {
    color: red;
}

.fa-file-word-o {
    color: #0062cc;
}

.file-row img {
    max-height: 50px;
    margin: 0 auto;
    display: block;
}

.arrow {
    margin: 0 auto;
}

.b-circle {
    border-radius: 50%;
    padding: 5px;
}

.file-desc .badge {
    white-space: normal;
}

.line {
    border: 1px solid #ddd;
    margin: 25px 7px;
    padding-top: 15px;
    border-radius: 5px;
}

.people-more {
    position: relative;
    cursor: pointer;
}

.badge-more {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 22px;
}

table .fa-commenting-o {
    font-size: 22px;
}

.btn-create {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.btn-create .fa {
    font-size: 26px;
}

.create-link {
}

.hr-vert {
    border-right: 1px solid #ccc;
    margin-left: 15px;
}