{% extends 'index.html' %}
{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    {% block styles %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock styles %}
</head>
<body>
{% block content %}
    <div class="container mt-5">
        <div class="col-5 mx-auto">
            <form class="form-signin" method="post">
                {% csrf_token %}
                <div class="form-label-group">
                    <input name="username" type="login" id="id_username" class="form-control" placeholder="Логин"
                           required
                           autofocus>
                    <label for="id_username">Логин</label>
                </div>

                <div class="form-label-group">
                    <input name="password" type="password" id="id_password" class="form-control" placeholder="Пароль"
                           required>
                    <label for="id_password">Пароль</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Запомнить меня
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            </form>
        </div>
    </div>
{% endblock content %}
</body>
</html>
