{% extends 'index.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {#    <link href="https://studprofcom.tspu.edu.ru/css/app.css" rel="stylesheet">#}
    <link href="https://studprofcom.tspu.edu.ru/css/style.css" rel="stylesheet">
{% endblock styles %}
{% block content %}
    <div id="app">

        <main class="py-4 mt-3">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
            <link rel="stylesheet"
                  href="https://studprofcom.tspu.edu.ru/js/plugins/datepicker/css/bootstrap-datepicker.min.css"/>

            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"/>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <img class="profile-user-img img-responsive img-thumbnail"
                                     src="{% static 'images/avatars/3.png' %}"
                                     alt="User profile picture">

                                <h3 class="profile-username text-center">{{ personal_data.surname }} {{ personal_data.name }} {{ personal_data.middle_name }}</h3>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>ФИО:</b> Lorem I.D.
                                    </li>
                                    <li class="list-group-item">
                                        <b>Город:</b> Томск
                                    </li>
                                    <li class="list-group-item">
                                        <b>Университет:</b> ТГПУ
                                    </li>
                                    <li class="list-group-item">
                                        <b>Подразделение: </b>деканат
                                    </li>
                                    <li class="list-group-item">
                                        <b>Должность: </b>декан
                                    </li>
                                    <li class="list-group-item">
                                        <b>Телефон:</b>
                                        +7(999)-999-9999
                                    </li>

                                    <li class="list-group-item">
                                        <b>Email:</b>
                                        <span class="pull-right">
                                            <a href="mailto:example@mail.ru">example@mail.ru</a>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#contactForm">
                                            Связаться
                                            <i class="fa fa-commenting-o"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="d-none"><a href="#activity" data-toggle="tab" aria-expanded="true">Опыт
                                    работы</a>
                                </li>
                                <li><a href="#queries" class="d-none" data-toggle="tab" aria-expanded="true">
                                    Запросы в компанию
                                </a>
                                </li>
                                <li class="active"><a href="#note" data-toggle="tab" aria-expanded="false" class="">Ветки
                                    &nbsp
                                    <small class="label pull-right bg-green"
                                           style="font-size: 85%">45</small>
                                </a></li>
                                <li class=""><a href="#edit" data-toggle="tab" aria-expanded="false">Редактировать
                                    профиль</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="activity">
                                    {% if request.user.id == personal_data.user_id %}
                                        <div class="activity">
                                            <form method="POST" action="/activity/add"
                                                  accept-charset="UTF-8">
                                                <div class="form-group">
                                                    <input required class="form-control date" id="inputCompany"
                                                           name="company" placeholder="Компания"
                                                           type="text">
                                                </div>
                                                <div class="form-group">
                                                    <input required class="form-control date" id="inputProfession"
                                                           name="date" placeholder="Должность"
                                                           type="text">
                                                </div>
                                                <div class="form-group">
                                            <textarea required class="form-control" cols="10" rows="2"
                                                      name="text" placeholder="Примичание"></textarea>
                                                </div>
                                                <button class="btn btn-primary ">Отправить</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    <div class="activity-list">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Должность</th>
                                                <th>Компания</th>
                                                <th>Период работы</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Инженер-программист</td>
                                                <td>Томский государственный педагогический университет</td>
                                                <td>с 2014 по настоящее время</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.activity -->
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane active show" id="note">
                                    <!-- The Note -->
                                    <div class="note">
                                        <p>Участие в ветках: 45</p>
                                        <p>Количество созданных веток: 35</p>
                                        <p>Количество подтверждённых документов: 12</p>
                                        <p>Количество не выполненых выток: 23</p>
                                        <p>Количество в процессе: 15</p>
                                        <p>Количество завершенных: 12</p>
                                    </div>
                                    <div class="note-list">
                                    </div>
                                    <!-- /.Note -->
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="queries">
                                    <!-- The Queries -->
                                    <div class="note">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Компания</th>
                                                <th>Дата зявки</th>
                                                <th>Статус</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Mail Group</td>
                                                <td>29.09.2019</td>
                                                <td><span class="label label-primary">Рассмотренно</span></td>
                                                <td>
                                                    <button class="btn btn-primary">Детали</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Yandex</td>
                                                <td>29.09.2019</td>
                                                <td><span class="label label-warning">Ожидание</span></td>
                                                <td>
                                                    <button class="btn btn-primary">Детали</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Google</td>
                                                <td>29.09.2019</td>
                                                <td><span class="label label-danger">Отклонено</span></td>
                                                <td>
                                                    <button class="btn btn-primary">Детали</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Facebook</td>
                                                <td>29.09.2019</td>
                                                <td><span class="label label-success">Принят</span></td>
                                                <td>
                                                    <button class="btn btn-primary">Детали</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="note-list">
                                    </div>
                                    <!-- /.Note -->
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="edit">
                                    <form method="POST" action="https://studprofcom.tspu.edu.ru/students/edit/2103"
                                          accept-charset="UTF-8" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="inputLastname" class="col-sm-2 control-label">Фамилия</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control" id="inputLastname" placeholder="Фамилия"
                                                       required name="lastname" type="text"
                                                       value="{{ personal_data.surname }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputFirstname" class="col-sm-2 control-label">Имя</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control" id="inputFirstname" placeholder="Имя"
                                                       required
                                                       autofocus name="firstname" type="text"
                                                       value=" {{ personal_data.name }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSecondname" class="col-sm-2 control-label">Отчество</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control" id="inputSecondname" placeholder="Отчество"
                                                       required name="secondname" type="text"
                                                       value="{{ personal_data.middle_name }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPhone" class="col-sm-2 control-label">Телефон</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="inputPhone" placeholder="Телефон"
                                                       name="phone" type="text"
                                                       value="{{ personal_data.phone_number }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="inputEmail" placeholder="E-mail"
                                                       name="email" type="email" value="{{ personal_data.email }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAvatar" class="col-sm-2 control-label">Фото</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" name="avatar" type="file">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGender" class="col-sm-2 control-label">Пол</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="inputGender" required name="gender">
                                                    <option value="Неопределен">Неопределен</option>
                                                    <option value="Жен" selected="selected">Жен</option>
                                                    <option value="Муж">Муж</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary">Отправить</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <style>
                main {
                    background-color: #f5f8fa;
                }

                .portfolio-head {
                    text-align: center;
                }

                .edecanat {
                    margin-bottom: 15px;
                }

                .peoples_result li {
                    border-bottom: 1px solid #ccc;
                    padding: 3px 0;
                }

                .edecanat .bg-success {
                    padding: 5px;
                    color: #fff;
                    border-radius: 5px;
                }
            </style>

        </main>
    </div>
{% endblock content %}
{% block scripts %}

    <!-- Scripts -->

    <script src="https://studprofcom.tspu.edu.ru/js/plugins/maskedinput/js/jquery.maskedinput.min.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            $("#inputPhone").mask("+7 (999) 999-9999");
            setDatePlugin();
        });
    </script>
    <script src="https://studprofcom.tspu.edu.ru/js/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://studprofcom.tspu.edu.ru/js/plugins/datepicker/js/locale.js"></script>

    <script src="https://studprofcom.tspu.edu.ru/js/search.js"></script>
    <script src="https://studprofcom.tspu.edu.ru/js/api.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script>
        jQuery(document).ready(function ($) {
                var url = document.location.toString();

                if (url.match('#')) {
                    activaTab(url);
                }

                function removeActive(ths) {
                    ths.parent().find('li').removeClass('active');
                }

                function activaTab(url) {
                    var t = $('.nav-tabs a[href="#' + url.split('#')[1] + '"]');
                    var li = t.parent();
                    t.tab('show');
                    removeActive(li);
                    li.addClass('active');
                }

                function onClickTab(ths) {
                    removeActive(ths);
                    var urlHash = ths.find('a').attr('href');
                    activaTab(urlHash);
                    history.pushState("", document.title, urlHash);
                }

                $('.nav-tabs-custom').on('click', 'li', function (target) {
                    onClickTab($(this))
                });


                var items = [];

                $.each(portfolio, function (ind, elem) {
                    items.push(createActive(elem))
                });

                $('.activity-list').append('<h3 class="portfolio-head">Данные из портфолио</h3><hr>' + items);

                function createActive(obj) {
                    var desc = obj.description;
                    if (desc === null) {
                        desc = '';
                    } else {
                        desc += '<br/>';
                    }

                    return "<div class='activity clearfix'>" +
                        "<div class='user-block'>" +
                        "<span class='description'>" +
                        "<b>" + obj.name + "</b>" +
                        "</span>" +
                        "</div>" +
                        "<div class='activity-text'>" + desc +
                        "<a target='_blank' href='//tspu.edu.ru/" + obj.url + "'>Ссылка на документ</a>" +
                        "</div>" +
                        "</div>";

                }
            }
        );

    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

    {#<script src="https://studprofcom.tspu.edu.ru/js/profcom.js"></script>#}
{% endblock scripts %}
