<div class="col-2 line">
    <div class="">
        <div class="row">
            <div class="col-12">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <div class="badge">Приказ №0001</div>
            </div>
            <div class="col-12">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span class="badge">14 декабря 2019</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-4">
            </div>
            <div class="col-12">
                <div class="b-circle bg-success">
                    <img src="{% static 'images/avatars/2.png' %}" class="img-fluid rounded-circle"
                         alt="Cinque Terre">
                </div>
            </div>
            <div class="arrow">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-12 people-more">
                <div class="badge badge-success badge-more">3</div>
                <div class="b-circle bg-success" data-toggle="modal" data-target="#modelId">
                    <img src="{% static 'images/avatars/3.png' %}" class="img-fluid rounded-circle"
                         alt="Cinque Terre">
                </div>
            </div>
            <div class="arrow">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-12">
                <div class="b-circle bg-success">
                    <img src="{% static 'images/avatars/4.png' %}" class="img-fluid rounded-circle"
                         alt="Cinque Terre">
                </div>
            </div>
            <div class="arrow">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-12">
                <div class="b-circle bg-warning">
                    <img src="{% static 'images/avatars/5.png' %}" class="img-fluid rounded-circle"
                         alt="Cinque Terre">
                </div>
            </div>
            <div class="arrow">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-12">
                <div class="b-circle bg-light">
                    <img src="{% static 'images/avatars/1.png' %}" class="img-fluid rounded-circle"
                         alt="Cinque Terre">
                </div>
            </div>
            <div class="col justify-content-end file-desc d-none">
                <div style="margin: auto;">
                    <p class="badge">
                    </p>
                </div>
                <div class="mt-4 mr-5">
                    <a href="#">
                        <i class="fa fa-info fa-custom" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
