{% extends 'index.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"/>
    <style>
        .box-item {
            width: 100%;
            z-index: 1000
        }

        .btn-sort {
            cursor: pointer;
        }
    </style>
{% endblock styles %}
{% block content %}
    <div class="container mt-5">
        <div class="col-8 mx-auto">
            <div class="jumbotron pt-3">
                <h6>Загрузка файла</h6>
                <form class="mt-4">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Выбрать файл</label>
                    </div>
                </form>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Построить маршрут</label>
                            <button class="btn btn-sm btn-primary float-right">Добавить участника</button>
                        </div>
                        <div>
                        </div>
                        <div id="container1" class="panel-body box-container connectedSortable mt-3">
                            <div class=" box-item" itemid="itm-1">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">1</div>
                                        </div>
                                        {#                                        <select name="user-1" id="user-1" class="form-control ">#}
                                        {#                                            <option value=""></option>#}
                                        {#                                        </select>#}
                                        <input type="text" class="form-control" placeholder="Участник">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text btn-sort">#</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" box-item" itemid="itm-2">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">2</div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Участник">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text btn-sort">#</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" box-item" itemid="itm-3">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">3</div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Участник">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text btn-sort">#</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-sm btn-primary">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.select2').select2({
                minimumResultsForSearch: -1
            });

            $("#container1").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>

{% endblock scripts %}
