{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}
    {% endblock styles %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-tspu">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav w-100 ">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Входящие
                            <span class="badge badge-light">4</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Исходящие
                            <span class="badge badge-light">4</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Завершенные
                            <span class="badge badge-success">40</span>
                        </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link create-link" href="/create">Создать маршрут
                            <span class="hr-vert"></span>
                        </a>
                    </li>
                {% endif %}

                <!-- Authentication Links -->
                {% if not request.user.is_authenticated %}
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="/login">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Регистрация</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                            Lorem I.D. <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/accounts/profile/">
                                Профиль
                            </a>
                            <a class="dropdown-item" href="/accounts/logout/">Выйти</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <form class="form-inline justify-content-between">
                    <div class="form-group col-6">
                        <input type="text" class="form-control form-control-sm w-100" placeholder="Название файла">
                    </div>
                    <div class="form-group col-3">
                        <select class="form-control form-control-sm w-100 w-100">
                            <option value="">Отправлено</option>
                            <option value="">Прочитано</option>
                            <option value="">Не обработано</option>
                            <option value="">Отказано</option>
                            <option value="">На расмотрении</option>
                            <option value="">В процессе</option>
                            <option value="">Исполнено</option>
                            <option value="">Не отправлено</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <button class="btn btn-sm btn-primary">Фильтр</button>
                        <a href="/create" class="mx-auto">
                            <button type="button" class="btn btn-sm btn-success btn-create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row ml-0 mx-auto justify-content-center">
            <div class="col-2 line">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <i class="fa fa-file-word-o" aria-hidden="true"></i>
                            <div class="badge">Приказ №0001</div>
                        </div>
                        <div class="col-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="badge">14 декабря 2019</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-4"></div>
                        <div class="col-12">
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/2.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 people-more">
                            <div class="badge badge-success badge-more">3</div>
                            <div class="b-circle bg-success" data-toggle="modal" data-target="#modelId">
                                <img src="{% static 'images/avatars/3.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>

                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/4.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-warning">
                                <img src="{% static 'images/avatars/5.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-light">
                                <img src="{% static 'images/avatars/1.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="col justify-content-end file-desc d-none">
                            <div style="margin: auto;">
                                <p class="badge">
                                </p>
                            </div>
                            <div class="mt-4 mr-5">
                                <a href="#">
                                    <i class="fa fa-info fa-custom" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 line">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <div class="badge">Приказ №0002</div>
                        </div>
                        <div class="col-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="badge">14 декабря 2019</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-4"></div>
                        <div class="col-12">
                            {#                            <div class="badge badge-success badge-more">3</div>#}
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/3.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/1.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-danger">
                                <img src="{% static 'images/avatars/2.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="col justify-content-end file-desc d-none">
                            <div style="margin: auto;">
                                <p class="badge">
                                </p>
                            </div>
                            <div class="mt-4 mr-5">
                                <a href="#">
                                    <i class="fa fa-info fa-custom" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 line">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <div class="badge">Приказ №0008</div>
                        </div>
                        <div class="col-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="badge">14 декабря 2019</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-4"></div>
                        <div class="col-12">
                            {#                            <div class="badge badge-success badge-more">3</div>#}
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/3.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/2.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-warning">
                                <img src="{% static 'images/avatars/1.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-light">
                                <img src="{% static 'images/avatars/2.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="col justify-content-end file-desc d-none">
                            <div style="margin: auto;">
                                <p class="badge">
                                </p>
                            </div>
                            <div class="mt-4 mr-5">
                                <a href="#">
                                    <i class="fa fa-info fa-custom" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 line">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <div class="badge">Приказ №0004</div>
                        </div>
                        <div class="col-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="badge">14 декабря 2019</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-4"></div>
                        <div class="col-12">
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/4.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/5.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <div class="b-circle bg-success">
                                <img src="{% static 'images/avatars/2.png' %}" class="img-fluid rounded-circle"
                                     alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="col justify-content-end file-desc d-none">
                            <div style="margin: auto;">
                                <p class="badge">
                                </p>
                            </div>
                            <div class="mt-4 mr-5">
                                <a href="#">
                                    <i class="fa fa-info fa-custom" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Список участников в точке</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Участник</th>
                            <th>Связаться</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>ФМФ</td>
                            <td>
                                <i class="fa fa-commenting-o"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ФИЯ</td>
                            <td><i class="fa fa-commenting-o"></i></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ИФФ</td>
                            <td><i class="fa fa-commenting-o"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}
</body>
</html>