{% extends 'index.html' %}
{% load static %}
{% load bootstrap %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-12 mt-5">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ login_form|bootstrap }}
                    <button class="btn btn-block btn-primary" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}