{% extends 'index.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"/>
{% endblock styles %}
{% block content %}
    
{% endblock content %}
{% block scripts %}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>#}

    <script>

    </script>

{% endblock scripts %}
